<div class="row">
	<div id="intro" class="col-lg-12 text-center">
		<h1>chatBucks</h1>
		<p>chatBucks is an open source social networking web application written on <%= fa_icon 'diamond' %> Ruby on Rails.it's source code is available on  <a href="#"><%= fa_icon 'github' %> Github</a>
	   </p>
	   <hr>
			<div>
				<%= link_to 'Sign up', new_user_registration_path, class:'btn btn-success btn-lg'%>
				<%= link_to 'Sign in', user_session_path, class:'btn btn-primary btn-lg' %></div>
			</div>
	</div>
</div><br>
<div class="container-fluid front">
	<%= image_tag("bg.jpg", width: '100%') %>
</div>