<div class="row">
  <div class="col-lg-3 side">
   <div class="panel panel-primary">
     <div class="panel-heading">Profile Information</div>
     <div class="panel-body text-center">
      <h4><%= image_tag(@user.avatar_url) if @user.avatar? %></h4><br>
      <h4><%= current_user.name %></h4><br>
      <h5>Email id:<%= current_user.email%></h5>
      <h5>Location:<%= current_user.location%></h5>
      <h5>Mobile no:<%= current_user.mobile%></h5>
      <h5>About you:<%= current_user.about%></h5>
    </div>
  </div>
</div>
<div class="col-lg-3 col-xs-12 text-center" id="updates">
  <div class="panel panel-primary">
    <div class="panel-heading">Roam Around your Profile</div>
    <div class="panel-body">
     <h5><%= link_to 'Create Events', new_event_path, class:'btn btn-primary btn-lg control' %></h5>
     <h5><button type="button" class="btn btn-primary btn-lg control" data-toggle="modal" data-target="#myModal">Check Events</button></h5>
     <div id="myModal" class="modal fade " role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title ">Event List</h2>
          </div>
          <div class="modal-body">
            <p>Event till <%= Date.today %></p>
            <%= "Events (#{current_user.events.count})" %>
            <hr>
            <h3> <%= current_user.name %></h3>
            <br>
            <h5><% @event.each do |event| %>
             <%= event.name %> on <%= event.when%> <br>
             created&nbsp<%= time_ago_in_words(event.created_at)  %> &nbsp ago
           </h5>
           <br>
           <%= link_to like_event_path(event), method: :put do %>
           <%= fa_icon 'thumbs-up' %>
           <%= event.get_upvotes.size %>
           <% end %>
           <%= link_to dislike_event_path(event), method: :put do %>
           <%= fa_icon 'thumbs-down' %>
           <%= event.get_downvotes.size %>
           <% end %>
           <br><%= link_to 'Destroy', event, class:'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
           <hr>
           <% end %>
         </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <h5>
   <%= link_to "My Friends",home_myfriend_path, class:'btn btn-primary btn-lg control'%>
 </h5>
 <h5>
  <%= link_to "Search Friends",home_find_friends_path, class:'btn btn-primary btn-lg control'%>
</h5>
</div>
</div>
</div>
<%= render 'posts/form' %>
<div class="post bg-primary">
  <div class="bg-primary text-center"><hr>
    <h2 class="text-center" >Post activites</h2></div>
    <div class="well" id="activities">
      <br>
      <% @activities.each do |activity| %>
      <h3> <%= current_user.name %></h3>
      <%= activity.content %><br><%= image_tag(activity.attachment_url) if activity.attachment? %></h5>
      created&nbsp<%= time_ago_in_words(activity.created_at)  %> &nbsp ago<br>
      <%= link_to like_post_path(activity), method: :put do %><%= fa_icon 'thumbs-up' %>
      <%= activity.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_post_path(activity), method: :put do %>
      <%= fa_icon 'thumbs-down' %>
      <%= activity.get_downvotes.size %><br>
       <span class="comments-count"><%= activity.comments_count%>&nbsp<%=link_to 'Comment', post_path(activity) %></span>
      <% end %>
      <%#=link_to 'Comment', post_path(activity), class:'btn btn-warning btn-sm' %> 
      <div class="pull-right">
        <%= link_to edit_post_path(activity), class: 'btn btn-sm' do %>
        <% fa_icon 'pencil' %>
        <% end %>
        <%= link_to 'Delete', activity,class:'btn  btn-sm fa fa-trash-o', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
     </div>
    <%= will_paginate @activities %>
  </div>
</div>
