<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Profile information</h4>
       </div>
       <div class="modal-body">
       <h1>See the complete profile</h1>
      <h4><%= @user.name %></h4><br>
      <h5>Email id:<%= @user.email%></h5>
      <h5>Country:<%= @user.location%></h5>
      <h5>Mobile no:<%= @user.mobile%></h5>
      <h5>About you:<%= @user.about%></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>