<div class="row">
  <div class="col-lg-3 side">
   <div class="panel panel-primary">
     <div class="panel-heading">Profile Information</div>
     <div class="panel-body text-center">
       <%= link_to home_path(current_user) do %>
       <%= image_tag current_user.avatar.url || 'avatar.jpg', class: 'avatar' %>
       <% end %><br>
       <h5><%= link_to current_user.name, @users %></h5>
       <% if @user.location.present? %>
       <h5><%= @user.location %></h5>
       <% end %>
     </div>
   </div>
 </div>
 <div class="col-lg-5">
  <div class="panel panel-primary">
   <div class="panel-heading">Event</div>
   <div class="panel-body text-center"><%= render 'form' %></div>
 </div>
</div>
<div class="col-lg-3 col-xs-12 text-center" id="updates">
  <div class="panel panel-primary">
    <div class="panel-heading">Roam Around your Profile</div>
    <div class="panel-body">
     <h5>
       <%= link_to "My Friends",home_myfriend_path, class:'btn btn-primary btn-lg control'%>
     </h5>
     <h5>
      <%= link_to "Search Friends",home_find_friends_path, class:'btn btn-primary btn-lg control'%>
     </h5>
   </div>
 </div>
</div>