<div class="info">
  <h4 class="name"><%= post.user.name %>
     <span class="action">created a <%= link_to 'post', post %></span>
  </h4>
</div>
<div class="content">
  <span class="text"><h3><%= post.content %></h3></span>
  <% if post.attachment.present? %>
    <div class="attachment">
      <%= image_tag post.attachment %>
    </div>
  <% end %>
 <div class="created-at">
  <%= fa_icon 'clock-o' %>created
  <%= time_ago_in_words(post.created_at)  %> &nbsp ago
</div>
<div class="points">
    <span class="comments-count"><%= post.comments_count%>&nbsp<%=link_to 'Comment', post_path(post) %></span>
    <div class="pull-right">
      <% if post.user_id == current_user.id %>
          <%= link_to edit_post_path(post), class: 'btn btn-sm' do %>
        <% fa_icon 'pencil' %>
        <% end %>
        <%= link_to 'Delete', post,class:'btn  btn-sm fa fa-trash-o', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class="actions">
    <div class="row">
      <div class="col-xs-6 like">
        <%= link_to like_post_path(post),method: :put, remote: true, class: 'like' do %><%= fa_icon 'thumbs-up' %>
        <span class="vcount-<%= post.id %>"><%= post.get_upvotes.size %></span>
        <% end %>
        <%= link_to dislike_post_path(post),method: :put,  remote: true, class: 'dislike' do %>
        <%= fa_icon 'thumbs-down' %>
        <span class="ncount-<%= post.id %>"><%= post.get_downvotes.size %></span>
        <% end %>
      </div>
      </div>
  </div>
<% end %>