<div class="info">
  <h4 class="name"><%= post.user.name %>
     <span class="action">created a <%= link_to 'post', post %></span>
  </h4>
</div>
<div class="content">
  <span class="text"><h3><%= post.content %></h3></span>
  <% if post.attachment.present? %>
    <div class="attachment">
      <%= image_tag post.attachment %>
    </div>
  <% end %>
 <div class="created-at">
  <%= fa_icon 'clock-o' %>created at
  <%= post.created_at %> 
</div>
</div>
<% if user_signed_in? %>
  <div class="actions">
    <div class="row">
      <div class="col-xs-6 like">
        <%= link_to like_post_path(post), method: :put do %><%= fa_icon 'thumbs-up' %>
        <%= post.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_post_path(post), method: :put do %>
        <%= fa_icon 'thumbs-down' %>
        <%= post.get_downvotes.size %>
        <% end %>
      </div>
      </div>
  </div>
<% end %>